{% extends 'sensitive/base.html' %}
{% block content %}

 {% for post in posts %}
 <div class="col s8 m12">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
            <h4 class="bold">{{post.title}}</h4>
            <h6 class="condensed light">{{post.subtitle}}</h6>
            <blockquote>{{post.content_truncate}}...</blockquote>
            <small><a href="{% url 'sensitive:detail' post.id %}">Read more...</a></small>
        </div>
        <div class="card-action">
            <small>{{post.pub_date}}</small>
        </div>
      </div>
    </div>
  </div>
 {% endfor %}
{% endblock content %}